*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-135deg, #e79638, #e66532d3);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #DC143C, #FFA07A);
    box-shadow: 00px -1px 40px -5px black;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    height: 3px;
    width: 30px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 19px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input[type=text]:focus{
    border: 3px solid #B22222;
}
.user-details .input-box input[type=email]:focus{
    border: 3px solid #B22222;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    font-weight: 500;
    justify-content: space-between;
}
/*.gender-details .category label{
     display: flex;
     align-items: center;

}*/
/*.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px; 
    border: 5px solid transparent;
}*/
.gender-details input[type='radio']{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px rgb(224, 221, 228);
}
.gender-details input[type='radio']::before{
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}
.gender-details input[type='radio']:checked:before{
    background: #ccc;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #d1dde6;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: large;
    background: linear-gradient(135deg, #DC143C, #FFA07A);
}
form .button input:hover{
    background: linear-gradient(-135deg, #DC143C, #FFA07A);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 19px;
        width: 100%;
    }
    form .gender-details .category{
        display: flex;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
